body, html {
    height: 100%;
}
.parallax{
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.parallax .title{
    top: 50%;
    left: 0px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.parallax .title span{
    font-size: 25px;
    letter-spacing: 10px;
    padding: 18px;
    background-color:#000;
    color:#fff;
}
.img_1{background-image:url(./images/img_1.jpg);}
.img_2{background-image:url(./images/img_2.jpg);}
.img_3{background-image:url(./images/img_3.jpg);}
.text{
    padding: 50px 80px;
    color: rgb(119, 119, 119);
    background-color:#fff;
    text-align: justify;
}